.fadeInDown{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.fadeIn{
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
